<!DOCTYPE html>
<head> 
    <link rel="stylesheet" href="style2.css">
    <meta charset="utf8">
    <title>Песюн</title>
    
</head>

<body>
    <div id="square"></div>
    <form action="submit" method="post">
        <div class="pswd"><input type="password" name="pswd" placeholder="Password" required></div>
        <div class="usn"><input type="text" name="user" placeholder="Username" required></div>
        <div class="emd"><input type="text" name="email" placeholder="Email adress" required></div>
    </form>
    <button type="submit">Registration</button>
    <label id="Registration">Registration</label>
    <input type="checkbox">
    <label id="Rmbm">Remember me</label> 
    <label id="Dhc">Don't have an account? <a href="https://google.com">Register</a></label>
    <label id="Frg">Forgot Password?</label>

    <img id="user" src="img/user.png">
    <img id="zamok" src="img/zamok.png">
    <img id="email" src="img/email.png">
    <img id="logo" src="img/logo.png">

    <li>Main page</li>
    <li>Registration</li>
</body>
